.App{
  height: 100vh;
  width: 100vw;
  background: lightblue;

}

.container {
  background: lightcoral;
  height: 50%;
  width: 50%;
}

.highlight {
  font-size: 30px;
  color: red;
  font-weight: bold;
}

#highlightID {
  font-size: 30px;
  color: blue;
  font-weight: bold;
}